<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	    <display-name>JSP Tags Example </display-name>
    <description>
      Shows how to use custom jsp tags in our apps.
    </description>
    <servlet>
    	<servlet-name>JstlSrv</servlet-name>
    	<display-name>JstlSrv</display-name>
    	<description></description>
    	<servlet-class>JstlSrv</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>JstlSrv2</servlet-name>
    	<display-name>JstlSrv2</display-name>
    	<description></description>
    	<servlet-class>JstlSrv2</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>TagLibEx1</servlet-name>
    	<display-name>TagLibEx1</display-name>
    	<description></description>
    	<servlet-class>TagLibEx1</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>SessTest</servlet-name>
    	<display-name>SessTest</display-name>
    	<description></description>
    	<servlet-class>SessTest</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>JstlSrv</servlet-name>
    	<url-pattern>/JstlSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>JstlSrv2</servlet-name>
    	<url-pattern>/JstlSrv2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>TagLibEx1</servlet-name>
    	<url-pattern>/TagLibEx1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SessTest</servlet-name>
    	<url-pattern>/SessTest</url-pattern>
    </servlet-mapping>


    <taglib>
        <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
        <taglib-location>
           /WEB-INF/tlib/c.tld
        </taglib-location>
    </taglib>


    <taglib>
        <taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>
        <taglib-location>
           /WEB-INF/tlib/sql.tld
        </taglib-location>
    </taglib>
	
</web-app>