<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TestEjbWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestDemoEJB</display-name>
    <servlet-name>TestDemoEJB</servlet-name>
    <servlet-class>client.TestDemoEJB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestDemoEJB</servlet-name>
    <url-pattern>/TestDemoEJB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestHelloEJBServlet</display-name>
    <servlet-name>TestHelloEJBServlet</servlet-name>
    <servlet-class>client.TestHelloEJBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestHelloEJBServlet</servlet-name>
    <url-pattern>/TestHelloEJBServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountStatefulClient</display-name>
    <servlet-name>AccountStatefulClient</servlet-name>
    <servlet-class>client.AccountStatefulClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountStatefulClient</servlet-name>
    <url-pattern>/accountstatefulclient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestTransactionalBean</display-name>
    <servlet-name>TestTransactionalBean</servlet-name>
    <servlet-class>client.TestTransactionalBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestTransactionalBean</servlet-name>
    <url-pattern>/TestTransactionalBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestTransactionalAttributeAnn</display-name>
    <servlet-name>TestTransactionalAttributeAnn</servlet-name>
    <servlet-class>client.TestTransactionalAttributeAnn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestTransactionalAttributeAnn</servlet-name>
    <url-pattern>/TestTransactionalAttributeAnn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatefulBeanClient</display-name>
    <servlet-name>StatefulBeanClient</servlet-name>
    <servlet-class>client.StatefulBeanClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatefulBeanClient</servlet-name>
    <url-pattern>/StatefulBeanClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeanManagedTransactionTest</display-name>
    <servlet-name>BeanManagedTransactionTest</servlet-name>
    <servlet-class>client.BeanManagedTransactionTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeanManagedTransactionTest</servlet-name>
    <url-pattern>/BeanManagedTransactionTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>POJOasServlet</display-name>
    <servlet-name>POJOasServlet</servlet-name>
    <servlet-class>POJOasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>POJOasServlet</servlet-name>
    <url-pattern>/pojoAsServlet</url-pattern>
  </servlet-mapping>
</web-app>